@charset "UTF-8";

.odd{background-color:#292929;}   
.even{background-color:#ffffff;}  

/*將有內距外距的元素歸零，避免不同瀏覽器內外距不同而錯位*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, th, td, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea {
        margin: 0;
        padding: 0;		
}


/*重置頁面基本字型大小及行高*/
body,td,th {
         font-family: Verdana, Geneva, sans-serif;
        font-size: 100%;
        line-height: 1;
}


/*將標題的字型大小及粗細都重置*/
h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: normal;
}


/*將影像及欄位集的邊框歸零*/
img, fieldset {
        border: 0;
}


/*將清單樣式清除，其實只要list-style: none就好了，後面都是為了特定瀏覽器*/
ol, ul {
        list-style: none;
}


/*將表格的邊框設定為結合，小魚覺得分離好醜；其實一行就夠了，第二行是為了特定瀏覽器*/
table {
        border-collapse: collapse;
        border-spacing: 0;
}


/*重置表格註解及標題儲存格的對齊*/
caption, th {
        text-align: left;
}


/*將連結、底線重置；其實應該要再加上一個 del 刪除線的，但小魚常常用del就不重置了*/
a, ins {
        text-decoration: none;
}


/*部份瀏覽器在表單元素的字型樣式跟內文會不一樣，故設為繼承保持一致*/
input, button, textarea, select, optgroup, option {
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
}


/*將這些瀏覽器可能會有字型外觀樣式的元素重置字型樣式及粗細*/
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
        font-style: normal;
        font-weight: normal;
}


/*將註解的邊框及大小寫重置，acronym沒用就不重置了*/
abbr {
        border: 0;
        font-variant: normal;
}


/*重置上標、下標的樣式*/
sup, sub {
        font-size: 100%;
        vertical-align: baseline;
}


/*將引用重置，避免樣式不同及引號*/
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
        content: "";
}


/*最後也順便把這些小魚會用到的元素也重設吧*/
code, kbd, samp {
        font-size: 100%;
}



/* ================================================*/
/*禁止選取文字*/
html{
	height: 100%;
	background-color: #f9fbf7;
	background-repeat: repeat-x repeat-y;
	/*margin-top:-15px;*/
}


body{
	margin-top:-16px;
	font-family: "微軟正黑體";
	width:98%;
	margin-left:1%;
	margin-right:%1;
	/*background-color:#000000;*/
}


/* ================================================*/
/*隱藏註冊欄位*/
#reg_account_text, #reg_account_input, #reg_passwd_text, #reg_passwd_input, 
#reg_passwd_text_checked, #reg_passwd_input_checked, #identity, #options, 
#error_reg_01,#error_reg_02,#error_reg_03,#error_reg_04,.btn-primary_02,#tips_title,#tips_01,#tips_02{
  display:none;  
}

.up_line{
   position: relative;
   top:0px;
   /*left: 200px;*/
   /*width: 950px;*/ 
   width: 100%;
   height:20px;
   background-image: url(../img/up_line.png);
   /*background-repeat: repeat-x;*/ 
}
/*
.time{
   position: relative;
   top:2px;
	left: 20px;
   color: white;
   font-size: 13px;
}*/
/*
.single_p{
   position: relative;
   top:-10px;
   left: 680px;
   color: #ffffff;
   font-size: 13px;
   float: left;
}*/
/*
.all_p{
   position: relative;
   top:-10px;
   left: 710px;
   color: #ffffff;
   font-size: 13px;*/
   /*float: left;*/
/*}*/

.w_01{
   /*position: relative;
   /*padding-top:12px;
   left: 50px;*/
   text-align:center;
   color: #08215b;
   font-size: 16px;
   font-weight: bold;
   float: left;
}

.w_01:hover{
   color: #2d58b8;
   font-weight: bold;
   text-shadow:2px 2px 2px #cccccc;
}


.line_01{
   position: relative;
   top:12px;
   /*left: 90px;*/
   width: 2px;
   height: 28px;
   background-image: url(../img/line_01.png);
   float: left;
}
/*
.w_02{
   position: relative;
   top:12px;
   left: 130px;
   color: #08215b;
   font-size: 16px;
   font-weight: bold;
}

.w_02:hover{
   color: #2d58b8;
   font-weight: bold;
   text-shadow:2px 2px 2px #cccccc;
}*/



.header_bg{
   position: relative;
  /* top: 0px;
   left: 200px;*/
   height:95px;
   /*background-color: #ffffff;*/
   /*background-image: url(../img/header_bg.png);*/
   background-repeat: repeat-x; 
   border: 1px solid #27a5f5 ;
   z-index:5;
}


.down_line{
   height:5px;
   background-image: url(../img/down_line.png);
   background-repeat: repeat-x; 
}
/*華創車電技術中心股份有限公司*/
/*.logo{
  padding-left:50px;
  width: 35%;
  height:54px;
  z-index:10;
  background-image: url(../img/header_bg.png);
}*/

/*按鈕背景*/
.icon_bg{
   height:40px;
   background-image: url(../img/icon_bg.png);
   background-repeat: repeat-x; 
   border: 1px solid #9f9f9f ;
}


.timeline_bg{
   background-image: url(./img/search_bg_02.png);
   min-height: 60px;
   border: 1px solid #e6e6e6;
   margin-bottom:10px;
   padding-top:10px;   
   /*box-shadow: 2px 2px 4px #c0c0c0;*/
}

/*新增按鈕*/
.timeline_btn{	
	width:100px;
	background-image: url(../img/timeline_btn_bg.png);
	color: #153e71;
	font-size: 18px;
	margin-left:40px;
	text-align: center;
	line-height: 40px;
	/*border-radius: 5px;*/
	border: 1px solid #108cb5;
   
}


.timeline_btn:hover{
   background-image: none;
   background-color: #108cb5;
   color: #ffffff;
   border-radius: 0px;
   cursor: pointer;
}


.timeline_icon{
   width: 32px;
   height: 32px;
   background-image: url(../img/plus.png);
   float: left;
}


.timeline_menu{
	position:absolute;
	top:233px;
	left:1226px;
	background-color: #dddddd;
	color: #000000;
	border: 1px solid #108cb5;
	width: 98px;
	font-size: 15px;
	width:98px;
	text-align: center;
	line-height: 40px;
	z-index:100;
}


.menu_01 a{
   text-decoration: none;
   color: #000000;
}

.menu_01 a:hover{
   text-decoration: none;
   color: #000000;
   background-color: #9fd6ed;
   width: 98px;
   height: 40px;
   display: block;
}

/*.container{
	background-color:white;
	height: 1200px;
}*/

/*專案管理功能左邊的選單列*/
.navbar_side {
    padding-top:10px;
    width:200px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

.navbar_side ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbar_side li {
    border-bottom: 1px solid #9fd6ed;
	
}

.navbar_side li:last-child {
    border-bottom: 0px solid #9fd6ed;
	
}
      
.mainTitle span, .mainTitle a,.navbar_side li a:link, .navbar_side li a:visited {
    display: block;
    padding: 5px 5px 5px 0.8em;
    border-left: 12px solid #153e71;
    border-right: 1px solid #153e71;
    background-color: #108cb5;
    color: #FFFFFF;
    text-decoration: none;
    height: 30px;
    line-height:30px;
}

.mainTitle span:hover, .mainTitle a:hover, .navbar_side li a:hover {
    background-color: #153e71;
    color: #FFFFFF;
    cursor: pointer;
}

.navbar_side ul ul {
    margin-left: 12px;
}

.navbar_side ul ul li {
    border-bottom: 1px solid #153e71;
    margin: 0;
}

.navbar_side ul ul a:link, .navbar_side ul ul a:visited{
    background-color: #9fd6ed;   /*淺藍*/
    color: #153e71;
}


.navbar_side ul ul a:hover {
    background-color: #153e71;  /*深藍*/
    color: #FFFFFF;
}

/* ◎專案內容呈現區塊 */
.content_bg{
	margin-top:-8px;
	padding-top:15px;
	background-color: #ffffff;
	/*height: 1650px;*/
	min-height: 600px;
	border: 1px solid #e6e6e6 ;
	/*box-shadow: 2px 2px 4px #c0c0c0;*/ 
}

/*專案內容呈現位移*/
.subtitle{
	line-height:40px;
	padding-left:3px;
	font-size:13pt;
}

/*專案內容呈現位移*/
.content{
	line-height:30px;
	padding-left:25px;
}

.content_meeting_bg{
   padding-top:5px;
   background-color: #ffffff;
   width: 950px;
   height: 1200px;
   border: 1px solid #e6e6e6 ;
   box-shadow: 2px 2px 4px #c0c0c0; 
}

/*===================================*/

.main_01_01_01_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_01_01_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
	float: left;
}


.main_01_01_02_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_01_02_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_01_03_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_01_03_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_01_04_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_01_04_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_01_05_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_01_05_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_01_06_title{
	font-size: 16px;
	font-weight: bold;

}


.main_01_01_06_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_01_07_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_01_07_edit{
	font-size: 16px;
	width: 590px;
	height: 250px;
}


.main_01_01_save{
	font-size: 16px;
	width: 70px;
	height: 40px;
}


/*===================================*/

.main_01_02_01_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_02_01_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
	float: left;
}


.main_01_02_02_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_02_02_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_02_03_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_02_03_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_02_04_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_02_04_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_02_05_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_02_05_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_02_06_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_02_06_edit{
	font-size: 16px;
	width: 250px;
	height: 30px;
}


.main_01_02_07_title{
	font-size: 16px;
	font-weight: bold;
}


.main_01_02_07_edit{
	font-size: 16px;
	width: 590px;
	height: 250px;
}


.main_01_02_save{
	font-size: 16px;
	width: 70px;
	height: 40px;
}

/*===================================*/

.main_02_title,.main_03_title,.main_04_title,.main_06_00_title{
	font-size: 16px;
	font-weight: bold;
}


.main_02_info,.main_03_info,.main_04_info,.main_06_00_info{
	font-size: 16px;
	width: 590px;
	height: 250px;
}

.main_02_save,.main_03_save,.main_04_save,.main_06_00_save{
	font-size: 16px;
	width: 70px;
	height: 40px;
}


.main_05_01_title{
	font-size: 16px;
	font-weight: bold;
}


.main_05_01_info{
	width: 650px;
	height: 100px;
}


.main_05_02_title{
	font-size: 16px;
	font-weight: bold;
}


.main_05_02_info{
	width: 650px;
	height: 150px;
}


.main_05_03_title{
	font-size: 16px;
	font-weight: bold;
}

.main_05_03_name{
	width: 250px;
	height: 30px;
}


.main_05_03_content{
	width: 610px;
	height: 150px;
}


.main_05_03_bg{
	width: 700px;
	height: 270px;
	background-color: #f6f6f6;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
}


.main_05_03_delete{
	font-size: 20px;
}


.main_05_03_add{
    font-size: 20px;
	color: #ff1c1c;
}


.main_05_save{
	font-size: 16px;
	width: 70px;
	height: 40px;
}


.main_06_01_01_title{
	font-size: 16px;
	font-weight: bold;
}
    

.main_06_01_01_info{
	width: 650px;
	height: 100px;
}

.main_06_01_02_title{
	font-size: 16px;
	font-weight: bold;
}
    

.main_06_01_02_info{
	width: 650px;
	height: 100px;
}

.main_06_01_03_title{
	font-size: 16px;
	font-weight: bold;
}
    

.main_06_01_03_info{
	width: 650px;
	height: 100px;
}

.main_06_01_04_title{
    font-size: 16px;
	font-weight: bold;
}
    

.main_06_01_04_info{
	width: 650px;
	height: 100px;
}

.main_06_01_05_title{
	font-size: 16px;
	font-weight: bold;
}
    

.main_06_01_05_info{
	width: 650px;
	height: 100px;
}

.main_06_01_save{
	font-size: 16px;
	width: 70px;
	height: 40px;
}

.pic_01{
	height: 120px;
	width: 160px;
	border: 1px solid #000000;
}


.pic_02{
  height: 120px;
  width: 160px;
  border: 1px solid #000000;
}

.pic_03{
  height: 120px;
  width: 160px;
  border: 1px solid #000000;
}

.main_07_save{
    font-size: 16px;
	width: 70px;
	height: 40px;
}
/*===================================*/

.datalist{
	border:1px solid #0058a3;
	font-family: Arial;
	border-collapse: collapse;
	background-color: #eaf5ff;
	font-size: 15px;
	width: 98%;
}

.datalist th{
	border:1px solid #0058a3;
	background-color: #4bacff;
	color: #ffffff;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
}

.datalist tr{
	height: 35px;
}

.datalist td{
	border:1px solid #0058a3;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.datalist tr:hover, .datalist tr.altrow{
	background-color: #c4e4ff;
}

/*===================================*/

.datalist_02{
	border:1px solid #0058a3;
	font-family: Arial;
	border-collapse: collapse;
	background-color: #eaf5ff;
	font-size: 16px;
	width: 860px;
}

.datalist_02 th{
	border:1px solid #0058a3;
	background-color: #4bacff;
	color: #ffffff;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
}

.datalist_02 tr{
	height: 35px;
}

.datalist_02 td{
	border:1px solid #0058a3;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.datalist_02 tr:hover, .datalist tr.altrow{
	background-color: #c4e4ff;
}


/*===================================*/

.main_title{   
   color: #272727;
   font-weight: bold;
   font-size: 18px;
}

.main_line{
   width:98%;
   margin-right:50px;
   height:1px;
   background-color: #0379c3;
   margin-top:10px;
   margin-bottom:15px;
 }


 .rect_02{
   width:7px; 
   height:22px;
   background-color: #0379c3;
   float: left;
}

.main_title_02{
   color: #272727;
   font-weight: bold;
   font-size: 18px;
 }

.main_line_02{
	margin-top:3px;
	height:1px;
	background-color: #0379c3;
 }
 
/*===================================*/
.arrow_01{
    font-size: 11px;
    display: inline;
}

/*===================================*/

#main_05_tabs{
	width: 720px;
	height: 230px;
}

#main_05_tabs ul{
	height: 40px;
}

#main_06_tabs{
	width: 720px;
	height: 230px;
}

#main_06_tabs ul{
	height: 40px;
}

.main_0501{
	width: 700px;
	height: 200px;
	border: 2px solid #b8b8b8;
	padding-left: 20px;
	padding-top: 20px;
	background-color: #f8f8f8;
}

.main_05_title_02{
	font-size: 16px;
}

.main_0502{
	width: 700px;
	height: 200px;
	border: 2px solid #b8b8b8;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 20px;
	background-color: #f8f8f8;
}

.main_0601{
	width: 700px;
	height: 200px;
	border: 2px solid #b8b8b8;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 20px;
	background-color: #f8f8f8;
}

/*===================================*/

.meeting_01_01{
	font-weight: bold;
	float: left;
}

.meeting_01_01_txt{
	float: left;
}

.meeting_01_01_input{
	height: 25px;
	width: 170px;
	float: left;
}

.meeting_01_02{
	font-weight: bold;
	float: left;
}

.meeting_01_02_input{
	height: 25px;
	width: 200px;
	float: left;
}

.meeting_01_03{
	font-weight: bold;
	float: left;
}

.meeting_01_03_add{
	font-weight: bold;
	float: left;
}

.meeting_01_03_input{
	height: 25px;
	width: 300px;
}

.meeting_01_mail_btn{
	font-size: 16px;
	width: 150px;
	height: 40px;
}

.meeting_02{
	font-weight: bold;
}

.meeting_02_add{
	font-weight: bold;
}

.meeting_02_01_add{
	display: inline-block;
}

.meeting_02_02_add{
    display: inline-block;
}


.meeting_01_btn{
    font-size: 16px;
	width: 100px;
	height: 40px;
}

.meeting_02_add_btn{
	width: 60px;
	height: 30px;
}

.meeting_02_upload_btn{
	font-size: 16px;
	width: 120px;
	height: 40px;
}

.editor_01{
    width: 880px;
	height: 300px;
	border:1px solid #000000;
	background-color: #eeeeee;
}


/*===================================*/
.footer{
	width:100%; 
	height:70px;
	background-color: #0f6e90;
	border: 1px solid #00bcff;
	text-align: center;
	color: white;
	line-height: 70px;
	letter-spacing: 1px; 
}

.footer_line{
	width:100%; 
	height:5px;
	background-color: #00bcff;
}

table tr th{
	border-left-width: 1px; 
	border-left-style: solid; 
	border-left-color: rgb(204, 204, 204);
}

