.table_decoration_header{
	font-size:14pt;
	padding:5px; 
	text-align:center;	
	background-color:#E6EED5;;
}
.table_decoration_row2{
	font-size:14pt;
	padding:5px; 	
	background-color:#FFFFFF;		
}
.table_decoration_row1{
	font-size:14pt;
	padding:5px; 	
	background-color:#F2F2F2;		
}
.input_title
{
	font-size:14pt;
	width:15%;	
	background-color:#F0F0F0;	
	border-color:#0000FF;
	
}
.input_title_per
{
	padding-top:5px;
	padding-bottom:5px;
	font-size:14pt;
	padding-left:10px;
	border-bottom-width:1px;
	border-bottom-color:#AEA9B1;	
	border-bottom-style:solid;		
	border-right-width:1px;
	border-right-color:#AEA9B1;	
	border-right-style:solid;	
}

.input_area
{
	padding-left:13px;
	font-size:11pt;
	width:100%;	
	border-bottom-width:1px;
	border-bottom-color:#A9A9A9;
	border-bottom-style:solid;
	padding-bottom:5px;
}
.input
{
	vertical-align:bottom;
	margin-left:5px;
	margin-top:5px;
	margin-bottom:0px;
	font-size:14pt;		
}
.form_title
{
	border-bottom-width:1px;
	border-bottom-color:#A9A9A9;
	border-bottom-style:solid;
	background-color:#E6EED5;
	font-weight:bold;
	font-size:14pt;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:12px
}

.table_title
{
	padding-top:5px;
	padding-bottom:5px;
	font-size:14pt;
	padding-left:10px;
	/*width:18%;*/
}
.title
{
	padding-top:5px;
	height:45px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:14pt;		
	width:17%;
	border-bottom-width:1px;
	border-bottom-color:#AEA9B1;
	border-bottom-style:solid;		
	border-right-width:1px;
	border-right-color:#AEA9B1;
	border-right-style:solid;	
	background-color:#F0F0F0;
}
.second_column_title
{
	width:10%;
	border-bottom-width:1px;
	border-bottom-color:#AEA9B1;
	border-bottom-style:solid;	
	border-right-width:1px;
	border-right-color:#AEA9B1;	
	border-right-style:solid;
	background-color:#F0F0F0;
	font-size:13pt;
}
.data
{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	font-size:14pt;
	margin-right:10px;		
	border-bottom-width:1px;
	border-bottom-color:#AEA9B1;
	border-bottom-style:solid;		
	border-right-width:1px;
	border-right-color:#AEA9B1;	
	border-right-style:solid;
	/*width:80%;*/
}
.hint
{
	color:red;
	font-size:12pt;
	padding-top:7px;
}	